.pageError {
  width: 100%;

  div {
    padding: 12px 30px;
    background-color: red;

    p {
      color: white;
      font-weight: 600;
      text-align: center;
      font-family: "Work Sans", sans-serif;
    }
  }
}
