.usersContainer {
  padding: 60px;
}

.usersHeader {
  color: #213f7d;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  font-family: "Work Sans", sans-serif;
}

.usersInfoCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
