.navContainer {
  top: 0;
  z-index: 1;
  position: sticky;
  background: white;
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 35px 30px;
  align-items: center;
  box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
}

.logoContainer {
  margin-right: 168px;
}

.inputContainer {
  --horizontal-padding: 20px;

  height: 40px;
  width: 400px;
  display: flex;
  // overflow: hidden;
  border-radius: 8px;
  align-items: center;
  border: 1px solid rgba(#213f7d, 0.2);
  padding: 12px var(--horizontal-padding);

  input {
    width: 100%;
    border: none;
    background: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: inherit;
      color: #545f7d;
      font-size: 14px;
      opacity: 0.7;
    }
  }

  button {
    width: 56px;
    height: 40px;
    position: relative;
    right: calc(-1 * var(--horizontal-padding));

    margin-left: auto;
  }
}

.actions {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-family: "Work Sans", sans-serif;

  a {
    color: #213f7d;
    font-size: 16px;
    margin-right: 47px;
  }

  > img {
    margin-right: 30px;
  }
}

.profile {
  display: flex;
  align-items: center;

  :first-child {
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }

  p {
    font-size: 16px;
    color: #213f7d;
    margin-right: 4px;
  }
}
