.singleUserPage {
  padding: 60px;
  background-color: #fbfbfb;
  font-family: "Work Sans", sans-serif;
}

.button {
  border: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  background: none;
  align-items: center;
  font-family: inherit;
}

.singleUserPageBack {
  color: #545f7d;
  text-decoration: none;
  margin-bottom: 26px;

  & :not(:last-child) {
    margin-right: 13px;
  }
}

.singleUserPageHeading {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
  justify-content: space-between;

  h1 {
    font-size: 24px;
    color: #213f7d;
    font-weight: 500;
  }

  > div {
    display: flex;
    align-items: center;

    :first-child {
      margin-right: 20px;
    }
  }
}

.singleUserPageHeadingButtons {
  button {
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 8px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}

.redButton {
  color: #e4033b;
  border: 1px solid #e4033b;
}

.primaryButton {
  color: #39cdcc;
  border: 1px solid #39cdcc;
}

.userDetailsImageContainer {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  background-color: #213f7d29;
}

.userDetails {
  display: flex;
  align-items: center;
}

.userNameAndTag {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 22px;
    font-weight: 500;
    color: #213f7d;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    color: #545f7d;
  }
}

.userInfoContainer,
.userFullDetails {
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
}

.userInfoContainer {
  padding: 30px 30px 0 30px;
  margin-bottom: 30px;
}

.userFullDetails {
  padding: 30px;
}

.userInfo {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.tabs {
  display: flex;
  list-style: none;
  padding: 0 30px;
  justify-content: space-between;

  li {
    padding-bottom: 10px;

    button {
      border: none;
      color: inherit;
      font-size: 16px;
      cursor: pointer;
      background: none;
      font-weight: 400;
      font-family: inherit;
    }
  }
}

.activeTab {
  position: relative;
  color: #39cdcc;

  &::after {
    content: "";
    position: absolute;

    left: 50%;
    bottom: 0;
    height: 2px;
    width: 170px;
    transform: translateX(-50%);
    background-color: #39cdcc;
  }
}

.userInfoDivider {
  height: 80px;
  width: 1px;
  background: #545f7d;
  opacity: 0.2;
  margin: 0 30px;
}

.userTier {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-size: 14px;
    color: #545f7d;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.userAccounts {
  color: #213f7d;

  p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  span {
    font-size: 12px;
  }
}

.sectionDivider {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background-color: #213f7d1a;
}

.detailsSection {
  h3 {
    color: #213f7d;
    font-weight: 500;
    margin-bottom: 30px;
  }

  li {
    list-style: none;
    color: #545f7d;

    p {
      font-size: 12px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    span {
      font-weight: 500;
    }
  }
}

.sectionGrid {
  display: grid;
  row-gap: 30px;
}

.personalInformationGrid {
  grid-template-columns: repeat(5, 1fr);
}

.educationGrid {
  grid-template-columns: repeat(4, 1fr);
}

.socialsGrid {
  grid-template-columns: repeat(5, 1fr);
}

.guarantorGrid {
  grid-template-columns: repeat(5, 1fr);
}
